<h1>Add new employee</h1>

<%= form_for @employee do%>
  <div>
    <label for="name">Name:</label>
    <input placeholder="Exam. Luis Perez" type="text" name="name"/>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" placeholder="example@example.com" name="email"/>
  </div>
  <div>
    <label for="position">Position:</label>
    <input type="text" placeholder="example@example.com" name="position"/>
  </div>
  <div>
    <label for="private_number">Private Number:</label>
    <input type="password" placeholder="Exam: 123456" name="private_number"/>
  </div>
  <button >Add Employee</button>
<%end%>
